/* ---------- GENERAL ---------- */
body
{
	background: url('../img/bgs/main.png');
	font-family: Helvetica, Arial, sans-serif;
}
a
{
	color: inherit;
	text-decoration: none;
}
/* Lists */
ol, ul, li
{
	padding: 0;
	margin: 0;
}
.list li
{
	padding: 0 0 0 10px;
	list-style: square inside none;
}

/* Tables */
table, td, tr
{
	padding: 2px;
	border: solid 1px #ddd;
}
.table_full
{
	width: 100%;
	margin: 3px 0 0 0;
}
.table_tf
{
	width: 75%;
	margin: 3px 0 0 0;
}
.table_half
{
	width: 50%;
	margin: 3px 0 0 0;
}
.table_third
{
	width: 33%;
	margin: 3px 0 0 0;
}
.table_fourth
{
	width: 25%;
	margin: 3px 0 0 0;
}

.container
{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	font-size: 12pt;
}

/* Headers, titles, etc. */
.header
{
	color: #cf003d;
	display: block;
	margin: 0 0 18px 0;
	clear: both;
	font-size: 18px;
	font-weight: bold;
}
.title
{
	color: #222;
	display: inline-block;
	margin: 0 5px 2px 0;
	font-size: 14px;
	font-weight: bold;
}
.title_sub
{
	color: #888;
	display: inline;
	font-size: 11px;
}
.title_2nd
{
	color: #cf003d;
	margin: 2px 5px 0 0;
	font-size: 12px;
	font-weight: bold;
}
.title_3rd
{
	color: #444;
	font-size: 12px;
	font-weight: bold;
}
.notes
{
	color: #444;
	font-size: 8pt;
}
sup, sub
{
	font-size: 6pt;
}

/* ---------- HEADER ---------- */
#header
{
	background: #cf003d;
	width: 100%;
	height: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

/* Navigation */
#header_nav
{
	color: #fff;
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 14px;
	cursor: default;
}
#header_nav a
{
	display: inline-block;
}
#header_nav li
{
	display: inline-block;
	border-bottom: solid 3px transparent;
	padding: 13px 0 10px 0;
	margin: 0 15px;
	position: relative;
	font-weight: bold;
	letter-spacing: 1px;
}
#header_nav li:hover
{
	border-bottom: solid 3px #fff;
	cursor: pointer;
}
/* Subnavigation */
#header_nav ul
{
	background: rgba(240, 240, 240, 0.8);
	padding: 5px;
	position: absolute;
	top: 40px;
	left: -9999px;
}
#header_nav li:hover ul
{
	left: 0;
}
#header_nav ul li
{
	color: #222;
	width: 100%;
	padding: 5px;
	margin: 0;
	border: 0;
	font-weight: normal;
}
#header_nav ul li:hover
{
	color: #cf003d;
	border: 0;
}

/* Logo */
#header_logo
{
	background: url('../img/logos/header.png') no-repeat;
	width: 240px;
	height: 135px;
	position: absolute;
	top: 5px;
	left: 15px;
	text-indent: -9999px;
}

/* Showcase photo */
#header_photo
{
	background: url('../img/photos/header_photo.png') no-repeat;
	background-position: center top;
	width: 1040px;
	height: 256px;
	margin: 40px 0 0 -20px;
	position: absolute;
	z-index: -1;
}

/* Education levels */
#header_levels
{
	color: #555;
	position: absolute;
	top: 235px;
	font-size: 11px;
	font-weight: bold;
}
#header_levels ul, li
{	
	list-style: none;
}

/* Social media panel */
#header_social
{
	color: #555;
	position: absolute;
	top: 240px;
	right: 0;
}
#tweet_info
{
	font-size: 11px;
	font-weight: bold;
}
#tweet_text
{
	width: 350px;
	margin: 0 10px 0 0;
	float: left;
	font-size: 12px;
}
.social_icon
{
	width: 32px;
	height: 32px;
	margin: -4px 0 0 0;
	text-indent: -9999px;
	float: left;
}
.social_icon#twitter
{
	background: url('../img/icons/twitter.png');
}
.social_icon#facebook
{
	background: url('../img/icons/facebook.png');
}


/* ---------- CONTENT ---------- */
#content_container
{
	background: rgba(255, 255, 255, 0.3);
	width: 960px;
	min-height: 380px;
	padding: 30px 20px 50px 20px;
	margin: 280px auto 20px auto;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#content
{
	color: #222222;
	width: 700px;
	font-size: 0.8em;
}

/* Links */
#content a
{
	color: #cf003d;
	text-decoration: none;
}
#content a:hover
{
	text-decoration: underline;
}

/* Sidebar */
#sidebar
{
	background: url('../img/bgs/sidebar.png') no-repeat;
	color: #eee;
	width: 170px;
	height: 300px;
	padding: 20px 0 0 40px;
	position: absolute;
	top: 60px;
	right: -23px;
	z-index: 1;
	font-size: 0.8em;
}
.sidebar_head
{
	color: #fff;
	margin: 10px 0 5px 0;
	font-size: 1.2em;
	font-weight: bold;
}
.sidebar_title
{
	font-weight: bold;
}
#sidebar_photo
{
	width: 140px;
	margin: 5px 0 0 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Welcome copy */
#welcome
{
	margin: 0 0 20px 0;
	float: left;
}

/* News */
.news_item
{
	background: url('../img/bgs/seperator.png') no-repeat;
	background-position: bottom left;
	clear: both;
	padding: 0 0 15px 0;
	margin: 15px 0 0 0;
}
.news_article
{
	margin: 2px 0 0 0;
	font-weight: 200;
	clear: both;
}
#news_archive
{	
	color: #cf003d;
	margin: 4px 0 0 0;
	font-size: 0.9em;
	font-weight: bold;
}

/* ---------- FOOTER ---------- */
#footer
{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.footer_link
{
	height: 15px;
	padding: 0 10px 20px 0;
	display: block;
	text-indent: -9999px;
}
.footer_link#teletop
{
	background: url('../img/logos/teletop.png') no-repeat;
	background-position: center;
	width: 77px;
}
#toTop
{
	background: #eee;
	color: #444;
	width: 100px;
	display: none;
	padding: 10px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
